@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
    color: white;
    font-size: .98em;
}
body{
    background-image: linear-gradient(to bottom, #D4EA95, #0F1E25);
}
.container{
    position: relative;
    background-image: linear-gradient(to bottom, #D4EA95, #0F1E25);
    width: 100vw;
    height: 100vh;
}

.login-card{
    background-color: transparent;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.226);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side-card, .right-side-card{
    text-align: center;
    width: 300px;
    height: 300px;
}
.left-side-card{
    padding: 10px;
    box-sizing: border-box;
}
.left-side-card #airplane-icon{
    width: 50px;
    height: 50px;
}
.right-side-card img{
    width: 100%;
    border-radius: 0px 25px 25px 0px;
}
.right-side-card-alternative{
    width: 240px;
    text-align: center;
    border-left: 2px solid rgba(255, 255, 255, 0.568);
    display: none;
    visibility: hidden;
}
.social-icons-alternative{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}
.social-icons-alternative ion-icon{
    transition: .25s;
    width: 40px;
    height: 40px;
    color: white;
}

.social-icons-alternative ion-icon:hover{
    transition: .25s;
    transform: scale(120%, 120%);
    color: #C8E690;
}

.username-input, .password-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    transition: .25s;
    width: 235px;
    border-bottom: 2px solid white;
}
.username-input:focus-within, 
.password-input:focus-within{
    transition: .25s;
    width: 250px;
}
::placeholder{
    color: white;
    opacity: 30%;
}
#usernameid, #passwordid,
#usernameid:focus, #passwordid:focus{
    background-color: transparent;
    margin-left: 5px;
    border: 0;
    outline: 0;
}
.checkbox-input{
    text-align: left;
    margin: 10px;
    margin-left: 17.5px;
}
.checkbox-input label{
    margin-left: 5px;
}
.button-input input{
    transition: .25s;
    width: 80px;
    height: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
}
.button-input input:hover{
    transition: .25s;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.466);
    transform: scale(115%, 115%);
}
.button-input input:active{
    color: #C8E690;
    border: 2px solid #C8E690
}
label ion-icon{
    width: 20px;
    height: 20px;
}

h1{
    font-size: 2em;
    transition: .25s;
    color: white;
}
h1:hover{
    transition: .25s;
    color: #C8E690;
    transform: scale(110%, 110%);
}

.alternative-access{
    position: absolute;
    top: 114%;
    left: 25%;
    width: 300px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.social-icons{
    text-align: center;
    margin: 5px;
}
.social-icons ion-icon{
    width: 25px;
    height: 25px;
    transition: .25s;
    color: white;
}
.social-icons ion-icon:hover{
    transition: .25s;
    transform: scale(120%, 120%);
    color: #C8E690;
}

.social-icons a{
    text-decoration: none;
    margin: 5px;
}

@media only screen and (max-width: 620px),(max-height: 450px){
    .container{
        background: transparent url('media/background-alternative.jpg') top center no-repeat fixed;
        background-size: cover;

    }
    .right-side-card{
        display: none;
        visibility: hidden;
    }
    .alternative-access{
        left: 50%;
        top: 115%;
    }
}
@media only screen and (max-width: 620px) and (max-height: 460px){
    .right-side-card-alternative{
        visibility: visible;
        display: initial;
    }
    .alternative-access{
        display: none;
        visibility: hidden;
    }
}